{% extends 'base.html.twig' %}

{% block title %}List categories{% endblock %}

{% block body_id 'category_list' %}

{% block main %}
    {% for category in categories %}
        <article class="category">
            <h2>
                <a href="{{ path('category_show', {id: category.id}) }}">
                    {{ category.title }}
                </a>
                <div style="float: right;"><a href="{{ path('category_edit', {id: category.id}) }}" class="btn btn-xs btn-warning">Edit</a></div>
            </h2>
            
        </article>
    {% else %}
        <div class="well">Categories not found</div>
    {% endfor %}
    
{% endblock %}
