{% extends 'base.html.twig' %}

{% block title %}Tag index{% endblock %}

{% block body_id 'tag_index' %}

{% block main %}
    {% for tag in tags %}
        <article class="post">
            <h2>
                {{ tag.name }}
                <div style="float: right;"><a href="{{ path('tag_edit', {id: tag.id}) }}" class="btn btn-xs btn-warning">Edit</a></div>
            </h2>
        </article>
    {% else %}
        <div class="well">Tags not found</div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(tags) }}
    </div>

{% endblock %}
