{% extends 'base.html.twig' %}

{% block title %}{{ 'menu.tag'|trans }}{% endblock %}

{% block body_id 'tag_show' %}
    
{% block main %}
    <h1>{{ tag.name|upper }}
        <div style="float: right;"><a href="{{ path('tag_edit', {slug: tag.slug}) }}" class="btn btn-xs btn-warning">{{ 'action.edit'|trans }}</a></div>
    </h1>
    
{% endblock %}
