{% extends 'base.html.twig' %}

{% block title %}Tag{% endblock %}

{% block body_id 'tag_show' %}
    
{% block main %}
    <h1>{{ tag.name|upper }}
        <div style="float: right;"><a href="{{ path('tag_edit', {id: tag.id}) }}" class="btn btn-xs btn-warning">Edit</a></div>
    </h1>
    
{% endblock %}
